*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #a782ec;
  padding: 3.5rem 1.8rem;
  border-radius: 15px;
}
h1 {
  margin: 0 0 3rem 0;
  color: white;
}

.bmi-input input {
  padding: 0.4rem 2rem;
  font-size: 1rem;
  border-radius: 15px;
  background-color: transparent;
  color: white;
  border: 4px solid #06114f;
}

.bmi-input label {
  position: relative;
  right: 17.5rem;
  top: -2.2rem;
  font-size: 1.2rem;
  transition: all 400ms;
}

.calculator-button {
  margin: 2.5rem 0 0 13rem;
}

.calculator-button button {
  padding: 0.5rem 2.5rem;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  background-color: #5ec5d4;
  color: #f6f7a9;
  border-radius: 15px;
  transition: all 300ms;
  margin: 1rem 0 0 1.5rem;
}

.calculator-button button:hover {
  background-color: #f6f7a9;
  color: #5ec5d4;
}

.result {
  font-size: 1.6rem;
}

.hide {
  display: none;
}
